* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Opcional: facilita o cálculo de dimensões */
}

#root {
    height: 100vh;
    display: flex;
}

body {
  height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
}

.conteudo-principal {
  flex: 1;
  transition: margin 0.7s;
}