* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Opcional: facilita o cálculo de dimensões */
}

#root {
    height: 100vh;
}

body {
  height: 100vh;
}

.container-geral {
  display: flex;
  height: 100vh;
  background-color: #f5f7fa;
}

.menu-lateral.expandir {
  width: 310px;
}

.container-dashboard{
  margin-left: 120px;
  transition: 0.7s;
}

.container-dashboard.expandir{
  margin-left: 350px;
  transition: 0.7s;
}